
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    color: #000000;
    padding: 18px;
    border: 1px solid #131313;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

input, select {
    width: calc(100% - 10px);
    padding: 7px;
    margin-bottom: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button[type="submit"] {
    background-color: #0011ff;
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #46413f;
}

.back{
    width: fit-content;
    height: fit-content;
    padding: 8px 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff6f00;

}
